@model IEnumerable<HeThongDiemDanh.Models.MONHOC>
@{
    ViewBag.Title = "MonHoc";
    Layout = "~/Views/Shared/_LayoutGiangvien.cshtml";
}

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Số buổi</th>
            <th>Số tín chỉ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.Raw(item.IDMONHOC) </td>
                <td>@Html.Raw(item.MAMONHOC) </td>
                <td>@Html.Raw(item.TENMONHOC) </td>
                <td>@Html.Raw(item.SOBUOI) </td>
                <td>@Html.Raw(item.SOTINCHI) </td>
                <td>
                    <input type="button" value="Chọn" onclick="location.href='/Giangvien/LopMonHoc-@item.IDMONHOC'">
                </td>
            </tr>
        }
            </tr>
        </tbody>
    </table>

